.master{
  display:flex;
  padding:0 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}
.detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(57, 126, 143);
    border-radius: 10px;
    width: 400px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 0.5px solid rgb(136, 136, 136);
    /*background-color: rgb(57, 126, 143);*/
    color: black;
    align-content: center;
  }
  
  