:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: inline;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F6FDFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.favButton:hover {
  background-color: rgba(136, 136, 136, 0.05);
}

h1{
  text-align: center;
  color: black
}

body.dark h1 {
  color: white;
}

nav{
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

p{
  color: black;
  text-align: center;
}
.dark p{
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
  z-index: 50;
  background-color: #F6FDFF;
}

body.dark footer {
  background-color: #cac4c496;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
  color:rgb(32, 44, 29);
}
.dark footer > p{
  color: rgb(255, 255, 255);
}


.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  margin-bottom: 104px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

.dark table {
  color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body.dark{
  background-color: #12121296 !important;
  color: #ffff !important;
}

body.dark a {
  color: white;
}



.home {
  display: flex;
  flex-direction: column;
  margin-top:76.4px;
  margin-bottom: 110px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar {
  background-color: rgb(88, 133, 78);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 10rem;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
}

.navbar a{
  color: #fff;
}

.navbar a:hover{
  color: rgb(151, 217, 76);
}

.dark .navbar a:hover{
  color: rgb(244, 211, 113);
}

.dark .navbar {
  background-color: rgb(0, 0, 0);
}

.dark .navbar-titleI{
  color: rgb(255, 255, 255);
}


div{
  display: block;
}

.navbar-links {
  display: flex;
  gap: 15px
}

.navbar-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-titleI {
  font-size: 2rem;
  color: black
}

.navbar-titleI::first-letter{
  color: red
}

.navbar-titleII {
  font-size: 1.5rem;
}

table {
  margin-top: 86px;
  color: black;
  padding: 0 20px;
}

